{% extends "base.html" %}
{% load static %}


{% block css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/theme/dracula.min.css">
  <link rel="stylesheet" href="{% static "css/map.css" %}">
{% endblock %}

{% block content %}
  <main class="main--map">
    <div id="draggablescreen">
      <div id="domelements"></div>

    </div>

    <div class="toolspanel text-center" id="toolspanel">
      <h5>ПАНЕЛЬ РЕДАКТИРОВАНИЯ</h5>

      <button class="editbutton btn btn-light" id="editButton">Ред</button>
      <div class="d-flex justify-content-around align-items-center mb-2 createBlock"><p >Режим создания элемента</p>    <input type="checkbox" id="toggleCreateBlock"></div>

      <textarea id="createBlockTextArea" class="createBlock__textarea" placeholder="Введите код блока">...</textarea>
    </div>
  </main>
{% endblock %}

{% block scripts %}
<script src="{% static "js/map/utils.js" %}"></script>
<script src="{% static "js/map/map_elements.js" %}"></script>
<script src="{% static "js/map/dom_elements_controller.js" %}"></script>
<script src="{% static "js/map/map_controller.js" %}"></script>
<script src="{% static "js/map/map.js" %}"></script>
{% endblock %}

</html>